.changes-info {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.attach-file {
    margin: 20px;
    background-color: #f8f8f8;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
}
